.categories-container{
    background-color: red;
    padding: 10px;
}

.categories-container .category-container{
    background-color: green;
}

.categories-container .category-container .category-body-container{
    background-color: blue;
}