.categories-container{
    background-color: red;
    padding: 10px;

    .categories-container{
        background-color: green;
    }
}



.categories-container .category-container .category-body-container{
    background-color: blue;
    padding: 30px;
}